@model  ProjeOdev.Yonetim.Sorular
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper container-xxl p-0">

        <div class="content-body">
            <!-- Validation -->
            <section class="bs-validation">
                <div class="row">
                    <!-- Bootstrap Validation -->
                    <div class="col-md-6 col-12">
                        <div class="card">
                            <div class="card-body">
                                <h2>Falsifying</h2>
                                <h4>  @Model.A </h4>
                                <form id="myForm" onsubmit="Ekle()" enctype="multipart/form-data" >
                                    <span style="display:none" id="Id">@Model.Id</span>
                                    <div class="mb-1">
                                        <label class="form-label" >A</label>
                                        <input  type="radio" name="selectedOption" id="optionA"  />
                                        @Html.TextBoxFor(model => model.A, new { @class = "form-control", id = "valA" })

                                    </div>
                                    <div class="mb-1">
                                        <label class="form-label" >B</label>
                                        <input  type="radio" name="selectedOption" id="optionB"  />
                                        @Html.TextBoxFor(model => model.B, new { @class = "form-control", id = "valB" })
                                    </div>
                                    <div class="mb-1">
                                        <label class="form-label" >C</label>
                                        <input  type="radio" name="selectedOption" id="optionC" />
                                        @Html.TextBoxFor(model => model.C, new { @class = "form-control", id = "valC" })
                                    </div>
                                    <div class="mb-1">
                                        <label class="form-label">D</label>
                                        <input  type="radio" name="selectedOption" id="optionD"  />
                                        @Html.TextBoxFor(model => model.D, new { @class = "form-control", id = "valD" })
                                    </div>
                                    <div class="mb-1">
                                        <label  class="form-label">Question Media</label>
                                        <input class="form-control" name="medya" type="file" id="medya"  />
                                    </div>
                                    <button type="submit" class="btn btn-warning"   >Pick The Right Question</button>
                                </form>

                            </div>
                        </div>
                    </div>
                    <!-- /Bootstrap Validation -->
                    <!-- jQuery Validation -->
                    <!-- /jQuery Validation -->
                </div>
            </section>
            <!-- /Validation -->

        </div>
    </div>
</div>

<script>
    function Ekle() {

        console.log("yetttttttttttttttttttterrrrrrrrrrrrrrrrrrrr3")

        var file = document.getElementById("medya");
        var media = file.files;
        var formData = new FormData();
        for (var i = 0; i < media.length; i++) {
            formData.append("file", media[i], media[i].name);
        }

        var optionA = document.getElementById("optionA");
        var optionB = document.getElementById("optionB");
        var optionC = document.getElementById("optionC");
        var optionD = document.getElementById("optionD");
        var inputA = document.getElementById("valA").value;
        var inputB = document.getElementById("valB").value;
        var inputC = document.getElementById("valC").value;
        var inputD = document.getElementById("valD").value;
        console.log("yetttttttttttttttttttterrrrrrrrrrrrrrrrrrr4")
        var IdYazi = document.getElementById("Id").innerHTML;
        var Id = parseInt(IdYazi);
        // Input değerlerini düzenle
        if (optionA.checked) {

            inputA = "*" + inputA;
        }
        if (optionB.checked) {

            inputB = "*" + inputB;
        }
        if (optionC.checked) {

            inputC = "*" + inputC;
        }
        if (optionD.checked) {

            inputD = "*" + inputD;
        }

        console.log("yetttttttttttttttttttterrrrrrrrrrrrrrrrrrrr5")

   

        $.ajax({

            type: "post",
             url: '@Url.Action("DogruCevapEkle", "AdminSoruPaneli")',
            data: { Id: Id, A: inputA, B: inputB, C: inputC, D: inputD, medya: formData },
            success: function () {
                console.log("Gonderildi.")
            },
            error: function (err) {
                console.log("hata ajaxda")
                console.log(err);
            }
        });

    }

</script>


