@model ProjeOdev.Yonetim.Sorular
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper container-xxl p-0">

        <div class="content-body">
            <!-- Validation -->
            <section class="bs-validation">
                <div class="row">
                    <!-- Bootstrap Validation -->
                    <div class="col-md-6 col-12">
                        <div class="card">
                            <div class="card-body">
                                <form method="post" action="~/AdminSoruPaneli/SoruyuGuncelle" enctype="multipart/form-data">
                                    <h2>Falsifying</h2>


                                   @Html.HiddenFor(model=>model.Id)
                                    <div class="mb-1">
                                        <label class="form-label">
                                            Question Description
                                        </label>
                                        @Html.TextBoxFor(model => model.SoruAciklamasi, new { @class = "form-control", id = "SoruAciklamasi" })
                                    </div>
                                    <div class="mb-1">
                                        <label class="form-label">A</label>

                                        @Html.TextBoxFor(model => model.A, new { @class = "form-control", id = "valA" })

                                    </div>
                                    <div class="mb-1">
                                        <label class="form-label">B</label>

                                        @Html.TextBoxFor(model => model.B, new { @class = "form-control", id = "valB" })
                                    </div>
                                    <div class="mb-1">
                                        <label class="form-label">C</label>

                                        @Html.TextBoxFor(model => model.C, new { @class = "form-control", id = "valC" })
                                    </div>
                                    <div class="mb-1">
                                        <label class="form-label">D</label>

                                        @Html.TextBoxFor(model => model.D, new { @class = "form-control", id = "valD" })
                                    </div>

                                    <button type="submit" class="btn btn-warning">UPDATE THE QUESTİON</button>
                                </form>

                            </div>
                        </div>
                    </div>
                    <!-- /Bootstrap Validation -->
                    <!-- jQuery Validation -->
                    <!-- /jQuery Validation -->
                </div>
            </section>
            <!-- /Validation -->

        </div>
    </div>
</div>
