
@{
    Layout = null;
}

<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimal-ui">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500;1,600" rel="stylesheet">

    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/css/vendors.min.css">
    <!-- END: Vendor CSS-->
    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/bootstrap-extended.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/colors.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/components.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/themes/dark-layout.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/themes/bordered-layout.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/themes/semi-dark-layout.css">

    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/core/menu/menu-types/vertical-menu.css">
    <!-- END: Page CSS-->
    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="../../../assets/css/style.css">
    <!-- END: Custom CSS-->
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
</head>
<!-- END: Head-->
<!-- BEGIN: Body-->

<body class="vertical-layout vertical-menu-modern  navbar-floating footer-static  " data-open="click" data-menu="vertical-menu-modern" data-col="">

    <!-- BEGIN: Header-->
    <nav class="header-navbar navbar navbar-expand-lg align-items-center floating-nav navbar-light navbar-shadow container-xxl">
        <div class="navbar-container d-flex content">

            <ul class="nav navbar-nav align-items-center ms-auto">

                <li class="nav-item d-none d-lg-block"><a class="nav-link nav-link-style"><i class="ficon" data-feather="moon"></i></a></li>


                <li class="nav-item dropdown dropdown-notification me-25">

                    <ul class="dropdown-menu dropdown-menu-media dropdown-menu-end">

                        <li class="scrollable-container media-list">

                            <a class="d-flex" href="#">
                                <div class="list-item d-flex align-items-start">
                                    <div class="me-1">
                                        <div class="avatar bg-light-success">
                                            <div class="avatar-content"><i class="avatar-icon" data-feather="check"></i></div>
                                        </div>
                                    </div>

                                </div>
                            </a>
                        </li>

                    </ul>
                </li>

            </ul>
        </div>
    </nav>

    <ul class="main-search-list-defaultlist-other-list d-none">
        <li class="auto-suggestion justify-content-between">
            <a class="d-flex align-items-center justify-content-between w-100 py-50">
                <div class="d-flex justify-content-start"><span class="me-75" data-feather="alert-circle"></span><span>No results found.</span></div>
            </a>
        </li>
    </ul>
    <!-- END: Header-->
    <!-- BEGIN: Main Menu-->
    <!-- END: Main Menu-->
    <!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper container-xxl p-0">
            <div class="content-body">
                <!-- Examples -->
                <!-- Examples -->
                <!-- Content types -->
                <section id="card-content-types">
                    <div class="row">
                        @if (TempData["Cikti"] != null)
                        {
                            <h3 style="color:red;">
                                @TempData["Cikti"]

                            </h3>
                        }
                        <h6 class="my-2 text-muted"> QUESTİON Answer</h6>
                       

                            <div class="col-md-6 col-lg-4">
                                <div class="card">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">

                                            <label>

                                                <span id="optionA" class="text-@(( ViewBag.Goster.A.IndexOf('*') == 0) ? "success" : "dark")">
                                                    @( ViewBag.Goster.A.IndexOf('*') >= 0 ? ViewBag.Goster.A.Substring(ViewBag.Goster.A.IndexOf('*') + 1) : ViewBag.Goster.A)
                                                </span>
                                            </label>
                                        </li>
                                        <li class="list-group-item">
                                            <label>

                                                <span id="optionB" class="text-@(( ViewBag.Goster.B.IndexOf('*') == 0) ? "success" : "dark")">
                                                    @( ViewBag.Goster.B.IndexOf('*') >= 0 ? ViewBag.Goster.B.Substring(ViewBag.Goster.B.IndexOf('*') + 1) : ViewBag.Goster.B)
                                                </span>
                                            </label>
                                        </li>
                                        <li class="list-group-item">
                                            <label>

                                                <span id="optionC" class="text-@(( ViewBag.Goster.C.IndexOf('*') == 0) ? "success" : "dark")">

                                                    @( ViewBag.Goster.C.IndexOf('*') >= 0 ? ViewBag.Goster.C.Substring(ViewBag.Goster.C.IndexOf('*') + 1) : ViewBag.Goster.C)
                                                </span>
                                            </label>
                                        </li>
                                        <li class="list-group-item">
                                            <label>

                                                <span id="optionD" class="text-@(( ViewBag.Goster.D.IndexOf('*') == 0) ? "success" : "dark")">
                                                    @( ViewBag.Goster.D.IndexOf('*') >= 0 ? ViewBag.Goster.D.Substring(ViewBag.Goster.D.IndexOf('*') + 1) : ViewBag.Goster.D)
                                                </span>
                                            </label>
                                        </li>

                                    </ul>
                                    <button class="btn btn-warning"><a href="@Url.Action("SorularıListele","Home")">Back to Questions</a></button>
                                </div>
                            </div>

                       
                  


                    </div>



                </section>
                <!--/ Content types -->
                <!-- Text alignment -->
                <!--/ Style variation -->
                <!-- Card layout -->
                <!--/ Card layout  -->@*class="text-@((item.D.IndexOf('*') == 0) ? "success" : "dark")"*@
                <a href="/Home/YorumYaz">Yorum Yaz</a>
            </div>
        </div>
    </div>
    <!-- END: Content-->

    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    <!-- BEGIN: Footer-->
    <footer class="footer footer-static footer-light">
        <p class="clearfix mb-0"><span class="float-md-start d-block d-md-inline-block mt-25">COPYRIGHT &copy; 2023<a class="ms-25" href="#" target="_blank">Onur Atalık</a><span class="d-none d-sm-inline-block">, All rights Reserved</span></span><span class="float-md-end d-none d-md-block">Hand-crafted & Made with<i data-feather="heart"></i></span></p>
    </footer>
    <button class="btn btn-primary btn-icon scroll-top" type="button"><i data-feather="arrow-up"></i></button>
    <!-- END: Footer-->
    <!-- BEGIN: Vendor JS-->
    <script src="../../../app-assets/vendors/js/vendors.min.js"></script>
    <!-- BEGIN Vendor JS-->
    <!-- BEGIN: Page Vendor JS-->
    <!-- END: Page Vendor JS-->
    <!-- BEGIN: Theme JS-->
    <script src="../../../app-assets/js/core/app-menu.js"></script>
    <script src="../../../app-assets/js/core/app.js"></script>
    </body>
</html>